<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure class="logo">
      <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1>Bienvenidos a <%= title %></h1>

    <div>
      <h2>Peliculas</h2>
      <ul type="none">
        <li>
          <a href="/movies">Listado de Peliculas</a>
        </li>
        <li>
          <a href="/movies/new">Ultimos Estrenos</a>
        </li>
        <li>
          <a href="/movies/recommended">Mejores Peliculas</a>
        </li>
        <li>
          <a href="/movies/add">Agregar Pelicula</a>
        </li>
      </ul>
    </div>
    <br>
    <div>
      <h2>Generos</h2>
      <div>
        <ul type="none">
          <li><a href="/genres">Listado de Generos</a></li>
        </ul>        
      </div>
    </div>
    <br>
    <div>
      <h2>Actores</h2>
      <div>
        <ul type="none">
          <li><a href="/actors">Listado de Actores</a></li>
          <li><a href="/actors">Listado de Actores</a></li>
        </ul>
        
      </div>
    </div>
      
  </body>
</html>
