<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas ordas por rating</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <figure class="logo">
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <br>
    <h1>PEÍCULAS CON RATING MAYOR O IGUAL A 8, ORDENADAS POR POSICIÓN DE MANERA DESCENDENTE</h1>
    <br>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
        <li>
            <a href="/movies/detail/<%=movies[i].id%>"><%= movies[i].title %> </a> <br>
            <%= 'RATING: ' + movies[i].rating %> 
        </li>
        <% } %>
        
    </ul>
</body>
</html>